{% extends 'base.html' %}
<!-- Used to format integer number with commas -->
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content%}

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
            The total inventory is =  ${{inventory_sum|floatformat:2}}
        </div>
      </div>
    </div>
  </section>

  <!-- Inventory Listings -->
  <section id="listings" class="py-2">
    <div class="container">
      <h3 class="text-center mb-3">Bar Soap Inventory</h3>
      <!--Listing Iteration-->
        {% if inventory %}
            <div class="row" style="margin-left:0px;">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th style="text-align:center;" scope="col">Image</th>
                      <th style="text-align:center;" scope="col">Name</th>
                      <th style="text-align:center;" scope="col">Type</th>
                      <th style="text-align:center;" scope="col">Quantity</th>
                      <th style="text-align:center;" scope="col">Total Value</th>
                    </tr>
                  </thead>
                  {% for inventory_item in inventory %}
                    <tr>
                        <td style="width:20%;text-align:center;"><img class="img-fluid img-thumbnail" style="max-width:100%;" src="{{ inventory_item.image.url }}" alt="picture of soap"></td>
                        <td style="width:20%;text-align:center;">{{inventory_item.bar_soap}}</td>
                        <td style="width:20%;text-align:center;">{{inventory_item.name}}</td>
                        <td style="width:15%;text-align:center;">{{inventory_item.quantity_available}}</td>
                        <td style="text-align:center;">${{inventory_item.get_total_value|floatformat:2}} </td>
                    </tr>
                  {% endfor %}
                </table>
            </div>
        {% else %}
          <div class="row">
              <div class="col-12">
                <p>No Listings Available</p>
              </div>
          </div>
        {% endif %}
    </div>
  </section>


  
{% endblock %}