<!-- Product Quantity -->
<div class="row mb-2">
  <div class="col-md-12">
	<label for="itemQty">Item Quantity</label>
	<!--Add Items Quantity Selector-->
	<select name="itemQty" id="itemQty" class="form-control">
	  {% for key, value in quantity_choices.items %}
		<option value="{{key}}"> {{value}} </option>
	  {% endfor %}
	</select>
  </div>
</div>

<!--Add Items Event Object-->
<button data-product="{{product.id}}" data-action="add" 
class="btn btn-outline-secondary add-btn update-cart mb-2">
Add to Cart</button>


		
{% for item in items %}
	<div class="cart-row">
		<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
		<div style="flex:2">
			<a class="hyper-link " href="{% url 'product' item.product.id %}"><p>{{item.product.name}}</p></a>
		</div>
		<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
		<div style="flex:1">
			<p class="quantity">{{item.quantity}}</p>
			<div class="quantity">
				<!--Add Item Event Objects-->
				<img data-product="{{item.product.id}}" data-action="add1" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">
		
				<img data-product="{{item.product.id}}" data-action="remove1" class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}">
			</div>
			<!--Set Items Event Object--><!--Add Items Quantity Selector-->
			<select data-product="{{item.product.id}}" data-action="set" name="itemQty" id="itemQty" class="form-control item-quantity">
				{% for key, value in quantity_choices.items %}
				<option value="{{key}}" 
						{% ifequal item.quantity|stringformat:'s' key %}
							selected
						{% endifequal %} > {{value}} 
					</option>
				{% endfor %}
			</select>
		</div>
		<div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>
		<!--Delete Item Event Object-->
		<div style="flex:1"><button data-product="{{item.product.id}}" data-action="delete" type="button" class="btn btn-danger delete-item">Delete</button></div>
	</div>
{% endfor %}


<div class="col-lg-6">
	<div class="box-element">
		<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
		<hr>
		<h3>Order Summary</h3>
		<hr>
		{% for item in items %}
		<div class="cart-row">
			<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
			<div style="flex:2"><a class="hyper-link " href="{% url 'product' item.product.id %}"><p>{{item.product.name}}</p></a></div>
			<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
			<div style="flex:1">
				<p>x{{item.quantity}}</p>
			</div>
			<div style="flex:1"><button data-product="{{item.product.id}}" data-action="delete" type="button" class="btn btn-danger delete-item">Delete</button></div>
		</div>
		{% endfor %}
		<h5>Items:   {{order.get_cart_items}}</h5>
		<h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
	</div>
		</div>