{% load static %}

    <!-- Navbar -->
    <nav id="dev-nav-bar" class="navbar navbar-expand-lg navbar-dark bg-navbar sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/soapdish_logo.png' %}" class="logo" alt="">
            </a>
            <div class="cart-collapse">
                {% if 'cart' in request.path %}
                    <a class="nav-link" href="{% url 'cart' %}">
                        <i id="cartItem" class="fas fa-shopping-cart mr-1" style="color:rgba(255,255,255, 1.0)"> [{{cartItems}}] </i>
                    </a>  
                {%  else %}
                    <a class="nav-link" href="{% url 'cart' %}">
                        <i id="cartItem" class="fas fa-shopping-cart mr-1" style="color:rgba(255,255,255, 0.5)"> [{{cartItems}}] </i>
                    </a>                                
                {% endif %}
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dev-navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="dev-navbarNavAltMarkup">
                <!--Margin Left Nav Bar List-->
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li 
                            {% if 'about' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <!--Collection Link-->
                        <li 
                            {% if 'bars' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                            <a class="nav-link" href="{% url 'bars' %}">Our Collection</a>
                        </li>
                        <!-- Store Link -->
                        <li 
                            {% if 'store/cart' in request.path %}
                                class="nav-item mr-3"
                            {% elif 'store' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                            <a class="nav-link" href="{% url 'store' %}">Store</a>
                        </li>
                    {% else %}
                        <!--About Link-->
                        <li 
                            {% if 'about' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <!--Collection Link-->
                        <li 
                            {% if 'bars' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                            <a class="nav-link" href="{% url 'bars' %}">Our Collection</a>
                        </li>                    
                    {% endif %}
                </ul>

                <!--Margin Right Nav Bar List-->
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <!--Dashboard Link-->
                        <li 
                            {% if 'dashboard' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                            >
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <i class="fas fa-user"> {{user.first_name}}</i>
                           </a>
                        </li>    
                        <!--Logout Link cast as a Form Submission-->
                        <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Logout">
                            <a class="nav-link" href="javascript:{document.getElementById('dev-logout').submit()}">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                            <form action="{% url 'logout' %}" method="POST" id="dev-logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                        <!-- Cart Link -->
                        <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Cart">
                            {% if 'cart' in request.path %}
                                <a class="nav-link" href="{% url 'cart' %}">
                                    <i id="cartItem" class="fas fa-shopping-cart mr-1" style="color:rgba(255,255,255, 1.0)"> [{{cartItems}}] </i>
                                </a>  
                            {%  else %}
                                <a class="nav-link" href="{% url 'cart' %}">
                                    <i id="cartItem" class="fas fa-shopping-cart mr-1" style="color:rgba(255,255,255, 0.5)"> [{{cartItems}}] </i>
                            </a>                                
                            {% endif %}
                        </li>
                        {% if user.is_staff %}
                            <!--Developer Dashboard Link-->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="DevOp">
                                <a class="nav-link" href=" {% url 'dev_dashboard' %} ">
                                    <i class="fas fa-laptop-code" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>
                            <!-- Admin Link for Administrator User -->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Admin">
                                <a class="nav-link" href="/admin/">
                                    <i class="fas fa-database" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>
                            <!-- Expenses Link for Administrator User -->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Expenses">
                                <a class="nav-link" href="{% url 'expenses' %}">
                                    <i class="fas fa-dolly-flatbed" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>
                            <!-- Inventory Link for Administrator User -->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Inventory">
                                <a class="nav-link" href="{% url 'inventory' %}">
                                    <i class="fas fa-dolly-flatbed" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>                            
                            <!-- Chatbot Link for Administrator User -->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Chatbot">
                                <a class="nav-link" href="/chatbot/">
                                    <i class="fas fa-robot" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>   
                            <!-- Blog Link for Administrator User -->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="Blog">
                                <a class="nav-link" href="/blog/">
                                    <i class="far fa-newspaper" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>   
                            <!-- Store API Link for Administrator User -->
                            <li class="nav-item mr-3" data-toggle="tooltip" data-placement="top" title="API Checkout">
                                <a class="nav-link" href="/store/api_checkout">
                                    <i class="fab fa-paypal" style="color:rgba(255,255,255, 0.5)"></i>
                                </a>
                            </li>           
                        {% endif %}   
                    {% else %}
                        <!--Register Link-->
                        <li 
                            {% if 'register' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}
                        >
                            <a class="nav-link" href=" {% url 'register' %} ">
                            <i class="fas fa-user-plus"></i> Register</a>
                        </li>
                        <!--Login Link-->
                        <li 
                            {% if 'login' in request.path %}
                                class="nav-item active mr-3"
                            {%  else %}
                                class="nav-item mr-3"
                            {% endif %}            
                        >
                            <a class="nav-link" href=" {% url 'login' %} ">
                                <i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>