

    <!-- Footer -->
    <footer id="main-footer" class="py-4 text-white text-center">
        Copyright &copy;
        <span class="year"></span> Soap Dish JT Estate Management
    </footer>
    <p class="py-1 text-white text-center">
        <a href="https://www.flaticon.com/free-icons/bar-soap" title="bar soap icons">Bar soap icons created by Freepik - Flaticon</a>
    </p>
    <p class="py-1 text-white text-center">
        Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/soap-recipe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
    <p class="py-1 text-white text-center">
        Photo by <a href="https://unsplash.com/@micheile?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Visual Stories || Micheile</a> on <a href="https://unsplash.com/s/photos/soap?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
    <p class="py-1 text-white text-center">
        Photo by <a href="https://unsplash.com/@sincerelymedia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sincerely Media</a> on <a href="https://unsplash.com/s/photos/soap?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
