{% extends 'base.html' %}
{% load static %}

{% block title %} | About Us {% endblock %}

{% block content%}

<!-- Showcase -->
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Soap Dish</h1>
          <p class="lead">Soap Dish is a Father-Daughter collaboration to make fun and nutrional skin loving soap.</p>
          <p class="lead">Vegetable Based Soap:  An Affordable Luxury!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- About -->
  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>The Quest For The Perfect Bar of Soap</h2>
          <p class="lead">Below is where all the magic happens!</p>
          <img src="{% static 'img/about-the-lab-01.jpg' %}" alt="about the lab image">
          <p class="mt-4">We like to call this area, "The Lab".  We carved out a space in our basement to practice the art and science of making soap.  Our creators experience with science, technology, and art helps with the soapmaking process.  The best part is testing your products.</p>
        </div>
        <div class="col-md-4">
          {% if mvc_creators %}
            {% for creator in mvc_creators %}
            <div class="card">
              <img class="card-img-top" src=" {{ creator.photo.url }}" alt="Seller of the month">
              <div class="card-body">
                <h5 class="card-title">Creator Of The Month</h5>
                <h6 class="text-secondary">{{creater.name}}</h6>
                <p class="card-text">{{creator.description}}
                </p>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <div class="col-md-12">
              <p>No MVC This Month</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Create For You</h2>
    <h4>Soap Dish was born to provide a simple means to collaborate on our creativity.  This collaboration of love goes into every Bar we create!</h4>
    <hr>
    <a href="#" class="btn btn-secondary text-white btn-lg">View Our Featured Soap Bars</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        <!-- Iterate through Creators if available -->
        {% if creators %}
          {% for creator in creators %}
          <div class="col-md-4">
            <img src=" {{ creator.photo.url }}" alt="" class="rounded-circle mb-3">
            <h4>{{creator.name}}</h4>
            <p class="text-success">
              <i class="fas fa-award text-success mb-3"></i> Creator</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{creator.phone}}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{creator.email}}</p>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Creators Currently Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}