{% extends 'base.html' %}
<!-- Used to format integer number with commas -->
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content%}

  <!-- Showcase and Search Bar -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Life Just Got Easier
          </h1>
          <p class="lead">Search for your favorite soap.  We have a range of soap that will fit nearly everyones needs.  Share one of these lovely creations with a friend!</p>
          <div class="search">
            <form action="#">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Rosemary, Lavender, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Name">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Scent</label>
                  <select name="scent" class="form-control">
                    <option selected="true" disabled="disabled">Scent (All)</option>
                    {% for key, value in state_choices.items %}
                    <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Colorant</label>
                  <select name="colorant" class="form-control">
                    <option selected="true" disabled="disabled">Colorant (All)</option>
                    {% for key, value in bedroom_choices.items %}
                    <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key, value in price_choices.items %}
                    <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Bars</h3>
      <!--Listing Iteration-->
      <div class="row">
        {% if bars %}
          {% for bar in bars %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ bar.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{bar.price | intcomma}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{bar.name}}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{bar.description}} </p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12"><i class="fas fa-th-large"></i> Fragrance: {{bar.fragrance}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-12"><i class="fas fa-th-large"></i> Nutrients: {{bar.nutrients}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-12"><i class="fas fa-th-large"></i> Exfolients: {{bar.exfolients}}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{bar.creator}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{bar.created_date | timesince}}</div>
                </div>
                <hr>
                <a href="#" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}