{% extends 'base.html' %}
<!-- Used to format integer number with commas -->
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content%}

  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
        <div class="overlay p-4">
          <h3 class="display-3">
            Soap Dish
          </h3>
          <p><strong>Vegetable Based Soaps:  An Affordable Luxury!</strong></p>  
          <p class="lead">We have a range of soap that will fit nearly everyones needs.</p>
          <p class="lead"> Share one of these lovely creations with a friend!</p>
          <div class="row">
            <div class="col showcase-button-group">
              <a class="lead" href="{% url 'bars' %}">
                View Our Soap Bar Collection
              </a>
            </div>
          </div> 
        </div>
    </div>
  </section>

  <!-- Character Points -->
  <section id="char-pnts">
    <div class="container">
      <div class="row">
        <div class="col-4 p-sm-2 mt-2 lead text-center text-secondary-bar">
          <strong>No Harsh Chemicals</strong><hr class="hr-char-pnts">
        </div>
        <div class="col-4 p-sm-2 mt-2 lead text-center text-secondary-bar">
          <strong>Handmade</strong><hr class="hr-char-pnts">
        </div>
        <div class="col-4 p-sm-2 mt-2 lead text-center text-secondary-bar">
          <strong>Plant Based</strong><hr class="hr-char-pnts">
        </div>
      </div>
    </div>
  </section>
  
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings">
    <div class="container">
      <h3 class="display-3 text-center mb-3">Our Latest Creations</h3>
      <!--Listing Iteration-->
      <div class="row">
        {% if bars %}
          {% for bar in bars %}
            <div class="col-md-6 col-lg-4 mb-2 d-flex align-items-stretch">
                <div class="card">
                  <img class="card-img-top" src="{{ bar.photo_main.url }}" alt="picture of soap">
                  <div class="card-body d-flex flex-column">
                    <div class="listing-heading list-body text-center mt-auto">
                      <h5 class="text-primary">{{bar.name}}</h5>
                    </div>
                    <p class="card-button-group">
                      <a href="{% url 'bar' bar.id %}" >More Info</a>
                    </p>
                  </div>
                </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-chalkboard-teacher fa-4x mr-4"></i>
          <hr>
          <h3>Basic Soapmaking Training</h3>
          <p>Making your own soap can be a rewarding experience.  The process of making soap is simple. This can become a routine and fun activity with some basic ingredients.  The reward is the quality of the soap and the satisfaction that you know exactly what you are using to clean your body every day.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-drafting-compass fa-4x mr-4"></i>
          <hr>
          <h3>Website Design for Soapmakers</h3>
          <p>Use my experience to help develop and collaborate on a personal website to display and sell your soaps to family and friends.  My services include eCommerce, eMail, and Blogging support.  Having a presence in cyperspace is one way of sharing your creativity with the world.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-microscope fa-4x mr-4"></i>
          <hr>
          <h3>Soapmaking Curriculum Development</h3>
          <p>Soapmaking is a precise measurement process.  Many aspects of soapmaking can be included in your school curriculum.  The process of making soap encompasses Mathematics, Measurement, Chemistry, and Manufacturing.  Imagine your students learning these topics while producing an actual product they can use at home?</p>
        </div>
      </div>
    </div>
  </section>

  
{% endblock %}
