{% extends 'base.html' %}
<!-- Used to format integer number with commas -->
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content%}
  <!-- Embed a Video into your page -->
  {% load embed_video_tags %}
  
  <!-- Showcase and Search Button -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-4">
        <div class="overlay p-4">
          <h1 class="display-3 mb-4">
            Life Just Got Easier
          </h1>
          <p class="lead">Search for your favorite soap.</p>  
          <p class="lead">We have a range of soap that will fit nearly everyones needs. Share one of these lovely creations with a friend!</p>
          <div class="search">
            <button class="btn btn-secondary btn-block btn-lg" data-toggle="modal" data-target="#searchModal" data-backdrop="true">Search</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if video %}
  <!-- Introductory Video -->
  <section id="introductory-video" class="py-5">
    <div class="container text-center">
      <div class="home-search p-2">
        <div class="overlay p-2">
          <h1 class="display-4 mb-2">Welcome Video</h1>
          <p class="lead">Learn how to use this website.</p> 
          <div class="row">
            <div id="videoSizeNormal" class="col-12 mb-4">
              {% video video.videoURL '' %}
            </div>
            <div id="videoSizeSmall" class="col-12 mb-4">
              {% video video.videoURL '100%x100%' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <!-- Search Modal -->
  <div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog modal-xl ">
      <div class="modal-content bg-info">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Search for your favorite soap</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Rosemary, Lavender, etc)">
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="sr-only">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
            </div>
            <!-- Form Row 3 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="sr-only">Fragrance</label>
                <select name="fragrance" class="form-control">
                  <option selected="true" disabled="disabled">Fragrance (All)</option>
                  {% for key, value in fragrance_choices.items %}
                  <option value="{{key}}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!-- Form Row 4 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="sr-only">Colorant</label>
                <select name="colorant" class="form-control">
                  <option selected="true" disabled="disabled">Colorant (All)</option>
                  {% for key, value in colorants_choices.items %}
                  <option value="{{key}}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 5 -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Max Price (Any)</option>
                  {% for key, value in price_choices.items %}
                  <option value="{{key}}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Our Latest Creations</h3>
      <!--Listing Iteration-->
      <div class="row">
        {% if bars %}
          {% for bar in bars %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ bar.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <!--
                  <span class="badge badge-secondary text-white">${{bar.price | intcomma}}</span>
                  -->
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{bar.name}}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{bar.description}} </p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12"><i class="fas fa-th-large"></i> Fragrance: {{bar.fragrance}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-12"><i class="fas fa-th-large"></i> Nutrients: {{bar.nutrients}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-12"><i class="fas fa-th-large"></i> Exfolients: {{bar.exfolients}}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{bar.creator}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{bar.created_date | timesince}}</div>
                </div>
                <hr>
                <a href="{% url 'bar' bar.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-chalkboard-teacher fa-4x mr-4"></i>
          <hr>
          <h3>Basic Soapmaking Training</h3>
          <p>Making your own soap can be a rewarding experience.  The process of making soap is simple. This can become a routine and fun activity with some basic ingredients.  The reward is the quality of the soap and the satisfaction that you know exactly what you are using to clean your body every day.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-drafting-compass fa-4x mr-4"></i>
          <hr>
          <h3>Website Design for Soapmakers</h3>
          <p>Use my experience to help develop and collaborate on a personal website to display and sell your soaps to family and friends.  My services include eCommerce, eMail, and Blogging support.  Having a presence in cyperspace is one way of sharing your creativity with the world.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-microscope fa-4x mr-4"></i>
          <hr>
          <h3>Soapmaking Curriculum Development</h3>
          <p>Soapmaking is a precise measurement process.  Many aspects of soapmaking can be included in your school curriculum.  The process of making soap encompasses Mathematics, Measurement, Chemistry, and Manufacturing.  Imagine your students learning these topics while producing an actual product they can use at home?</p>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
