/* Top Bar */
#top-bar {
  content: "";
}
/* Gives Social Links in top bar some spacing */
.social a {
  margin-right: 1rem; }

/* Navigation Bar */
#nav-bar {
  content: "";
}
/* Sets see thru affect and keeps all fonts uppercase */
.navbar {
  opacity: 0.9;
  text-transform: uppercase; }
/* Sets the site logo size */
.logo {
  width: 50px; }

  /* Alerts */
  #message {
    content: "";
  }

/* Showcase - Index Page */
/* Sets up the main visual for the home page */
#showcase {
  background-image: url(../img/showcase_bars_large.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 50vh;
  color: #fff;
  padding: 3rem; 
}
/* Creates a nice opaque overlay effect */
#showcase .overlay {
  content: '';
  position: relative;
  background: rgba(51, 51, 51, 0.8); 
}
/* Creates a nice button effect to link the Collection */
.showcase-button-group  a:link, a:visited{
  background-color: white;
  color: black;
  border: 2px solid green;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.showcase-button-group  a:hover, a:active {
  transition-duration: 0.5s;
  cursor: pointer;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  opacity: 0.5;
}
/* Listings - Index Page */
#listings {
  content: "";
}

/* Services - Index Page */
/* Creates a nice parallax effect for the Services Section*/
#services {
  background-image: url(../img/building.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  overflow: hidden; 
}
#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); 
}

/* Collection_SoapBot_Store_Dashboard Pages */
.breadcrumb-button  a:link, a:visited{
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.breadcrumb-button  a:hover, a:active{
  background: rgba(51, 51, 51, 0.8);
  color: white;
  opacity: 0.5;
}

.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

  /* About Page */
#introductory-video {
  background-color: darkslategrey;
  background-size: cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}




#showcase-inner {
  /*background: url(../img/building.jpg) no-repeat top center fixed/cover;*/
  background: url(../img/building.jpg) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; 
}
#showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); 
}
#showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

#videoSizeSmall {
    display: none;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    /* #showcase p {
      display: none; } */
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

@media (max-width: 576px) {
  #videoSizeNormal {
    display: none;
  }
  #videoSizeSmall {
    display: block;
  }
}
@media (max-width: 768px) {
#showcase {
    background-image: url(../img/showcase_bars_small.jpg);
  }
}
