<div class="ProductForm__QuantitySelector">
    <div class="QuantitySelector QuantitySelector--large">
		<span class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">
			<svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
				<path d="M1,1 L15,1" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
			</svg>
		</span>
         <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1">
        <span class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">
			<svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
				<g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
					<path d="M8,1 L8,15"></path>
					<path d="M1,8 L15,8"></path>
				</g>
			</svg>
		</span>
    </div>
</div>