{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{bar.title}} {% endblock %}

{% block content%}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{bar.name}}</h1>
        <p class="lead">
          <i class="fas fa-map-marker"></i> {{bar.recipe}} </p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'bars' %}">bars</a>
        </li>
        <li class="breadcrumb-item active">{{bar.name}}</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Bar -->
<section id="bar" class="py-4">
  <div class="container">
    <a href="javascript:history.back()" class="btn btn-light mb-4">Back To bars</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <img src="{{ bar.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          {% if bar.photo_1 %}
          <div class="col-md-2">
            <a href="{{ bar.photo_1.url }}" data-lightbox="home-images">
              <img src="{{ bar.photo_1.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if bar.photo_2 %}
          <div class="col-md-2">
            <a href="{{ bar.photo_2.url }}" data-lightbox="home-images">
              <img src="{{ bar.photo_2.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if bar.photo_3 %}
          <div class="col-md-2">
            <a href="{{ bar.photo_3.url }}" data-lightbox="home-images">
              <img src="{{ bar.photo_3.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if bar.photo_4 %}
          <div class="col-md-2">
            <a href="{{ bar.photo_4.url }}" data-lightbox="home-images">
              <img src="{{ bar.photo_4.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if bar.photo_5 %}
          <div class="col-md-2">
            <a href="{{ bar.photo_5.url }}" data-lightbox="home-images">
              <img src="{{ bar.photo_5.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if bar.photo_6 %}
          <div class="col-md-2">
            <a href="{{ bar.photo_6.url }}" data-lightbox="home-images">
              <img src="{{ bar.photo_6.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <!--
                <i class="fas fa-th-large"></i> Asking Price:
                <span class="float-right">${{ bar.price | intcomma }}</span>
                -->
                <i class="fas fa-th-large"></i> Name:
                <span class="float-right">{{ bar.name }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Fragrance:
                <span class="float-right">{{ bar.fragrance }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Nutrients:
                <span class="float-right">{{ bar.nutrients }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Exfolients:
                <span class="float-right">{{ bar.exfolients }}
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Recipe:
                <span class="float-right">{{ bar.recipe }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Discount:
                <span class="float-right">{{ bar.discount }}%
                </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Bar Created:
                <span class="float-right">{{ bar.created_date }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Creator:
                <span class="float-right">{{ bar.creator }}
                </span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
            {{ bar.description}}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ bar.creator.photo.url }}" alt="Bar Creator">
          <div class="card-body">
            <h5 class="card-name">Bar Creator</h5>
            <h6 class="text-secondary">{{bar.creator}}</h6>
          </div>
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
      </div>
    </div>
  </div>
</section>  

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-name" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
          {% else %}
            <input type="hidden" name="user_id" value="0">
          {% endif %}
          <input type="hidden" name="creator_email" value="{{ bar.creator.email }}">
          <input type="hidden" name="bar_id" value="{{ bar.id }}">
          <input type="hidden" name="bar" value="{{ bar.name }}">
          <div class="form-group">
            <label for="property_name" class="col-form-label">Bar:</label>
            <input type="text" name="bar_disabled" class="form-control" value="{{bar.name}}" disabled>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr>
          <input type="submit" value="Send" class="btn btn-block btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>  

<script>
  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}