{% extends 'base.html' %}

{% load humanize %}
{% load mathfilters %}

{% block title %} | The Collection {% endblock %}

{% block content%}

<!-- Showcase -->
<section id="showcase-inner" class="py-4 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Our Collection</h1>
          <p class="lead">Our soap uses all natural ingredients including , Olive Oil, Coconut Oil, Cocoa butter, Shea Butter, and Hemp Seed Oil.</p>
          <p class="lead">Please contact us from the "More Info" page for more details about each bar.</p><p class="lead">Special Requests are Encouraged.</p>
          <p><strong>Vegetable Based Soaps:  An Affordable Luxury!</strong></p>
        </div>
      </div>
    </div>
</section>

  <!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Featured Bars</li>
                        <li class="breadcrumb-item active">
                            {{number_of_bars}} Total Bars
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-6 breadcrumb-button-group">
                <a class="float-right" href="{% url 'bars' %}">Clear Search</a>
                
                <button class="float-md-right mr-1" data-toggle="modal" data-target="#searchModal" data-backdrop="true">Search</button>
            </div>
        </div>
    </div>
</section>

<!-- Search Modal -->
<section id="searchModal" class="modal fade" role="dialog">
    <!-- <div class="modal fade"> -->
        <div class="modal-dialog modal-xl ">
            <div class="modal-content bg-info">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Search for your favorite soap</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'search' %}">
                    <!-- Form Row 1 -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                        <label class="sr-only">Keywords</label>
                        <input type="text" name="keywords" class="form-control" placeholder="Keyword (Rosemary, Lavender, etc)">
                        </div>
                    </div>
                    <!-- Form Row 2 -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                        <label class="sr-only">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <!-- Form Row 3 -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                        <label class="sr-only">Fragrance</label>
                        <select name="fragrance" class="form-control">
                            <option selected="true" disabled="disabled">Fragrance (All)</option>
                            {% for key, value in fragrance_choices.items %}
                            <option value="{{key}}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <!-- Form Row 4 -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                        <label class="sr-only">Colorant</label>
                        <select name="colorant" class="form-control">
                            <option selected="true" disabled="disabled">Colorant (All)</option>
                            {% for key, value in colorants_choices.items %}
                            <option value="{{key}}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <!-- Form Row 5 -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                        <label class="sr-only">Exfolient</label>
                        <select name="exfolient" class="form-control">
                            <option selected="true" disabled="disabled">Exfolient (All)</option>
                            {% for key, value in exfolients_choices.items %}
                            <option value="{{key}}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <!-- Form Row 6 -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                        <select name="price" class="form-control" id="type">
                            <option selected="true" disabled="disabled">Max Price (Any)</option>
                            {% for key, value in price_choices.items %}
                            <option value="{{key}}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>

<!-- Bars -->
<section id="listings" class="py-2">
    <div class="container">
        <!--Pagenation Row Logic-->
        <div class="row">
            <div class="col-md-12">
            <!-- Check if Pagination is Required -->
            {% if bars.has_other_pages%}
                <!-- Start Horizontal html block list of items -->
                <ul class="pagination">
                <!-- Logic for First Pagination List Item -->
                {% if bars.has_previous %}
                    <li class="pagination-button">
                    <a href="?page={{bars.previous_page_number}}" >&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled pagination-button">
                    <a>&laquo;</a>
                    </li>
                {% endif %}

                <!-- Logic for Pagination Numbered List Items -->
                {% for i in bars.paginator.page_range %}
                    {% if bars.number == i %}
                        <li class="pagination-button">
                        <a class="pagination-button-active">{{i}}</a>
                        </li>
                    {% else %}
                        <li class="pagination-button" >
                        <a href="?page={{i}}">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Logic for Last Pagination List Item -->
                {% if bars.has_next %}
                    <li class="pagination-button">
                    <a href="?page={{bars.next_page_number}}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled pagination-button">
                    <a>&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>

        <!--Bar Iteration-->
        <div class="row">
        {% if bars %}
            {% for bar in bars %}
                <div class="col-6 col-md-4 mb-4 d-flex align-items-stretch">
                    <div class="card">
                        <img class="card-img-top" src="{{ bar.photo_main.url }}" alt="picture of soap">
                        <div class="card-body card-button-group d-flex flex-column">
                            <div class="listing-heading text-center mt-auto">
                                <h5 class="text-primary">{{bar.name}}</h5>
                            </div>
                            <hr>
                            <a href="{% url 'bar' bar.id %}?/next=/bars" >More Info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p>No Bars Available</p>
            </div>
        {% endif %}
        </div>
        
        <!--Pagenation Row Logic-->
        <div class="row">
            <div class="col-md-12">
            <!-- Check if Pagination is Required -->
            {% if bars.has_other_pages%}
                <!-- Start Horizontal html block list of items -->
                <ul class="pagination">
                <!-- Logic for First Pagination List Item -->
                {% if bars.has_previous %}
                    <li class="pagination-button">
                    <a href="?page={{bars.previous_page_number}}" >&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled pagination-button">
                    <a>&laquo;</a>
                    </li>
                {% endif %}

                <!-- Logic for Pagination Numbered List Items -->
                {% for i in bars.paginator.page_range %}
                    {% if bars.number == i %}
                        <li class="pagination-button">
                        <a class="pagination-button-active">{{i}}</a>
                        </li>
                    {% else %}
                        <li class="pagination-button" >
                        <a href="?page={{i}}">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Logic for Last Pagination List Item -->
                {% if bars.has_next %}
                    <li class="pagination-button">
                    <a href="?page={{bars.next_page_number}}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled pagination-button">
                    <a>&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</section>
   
{% endblock %}