{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Checkout {% endblock %}
{% block content %}

<!-- Shop Navagation Top -->
<section id="cart-summary-checkout">
	<div class="container">
		<div class="row py-2 my-3">
			<div class="col-sm-6 order-1 cart-button-group">
					<a  href="{% url 'store' %}">Back to Store</a>
			</div>
			<div class="col-sm-6 order-4 cart-button-group">
					<a class="float-sm-right" href="{% url 'cart' %}">Back to Cart</a>
			</div>
		</div>
	</div>
</section>

<!-- Checkout -->
<section id="checkout" data-url="{% url 'store' %}">
	<div class="container">
		<div class="row">


			<div class="col-lg-7 px-2 order-1">
				<!-- User Information  -->
				<div class="box-element">
					<div class='d-flex justify-content-between'>
						<p>
							Step One: 
						</p>
						<p id="user-information">
							Verify and Complete User Information
						</p>
					</div>
					<hr>
					<form action="" id="user-form">
						{% csrf_token %}
						<fieldset id="user-information-fieldset">
							<div class="form-field">
								<!-- <label for="user">Name:</label> -->
								<input required class="form-control" type="text" name="name" placeholder="User Name.." id="user" value="{{order.customer.user}}">
							</div>
							<div class="form-field">
								<!-- <label for="usremail">Email:</label> -->
								<input required class="form-control" type="email" name="email" placeholder="Email.." id="useremail" value="{{order.customer.email}}">
							</div>
							<input id="user-form-button" class="btn btn-success btn-block" type="submit" value="Continue to Billing">
						</fieldset>
					</form>
				</div>
				<!-- Billing Information -->
				<div class="box-element">
					<div class='d-flex justify-content-between'>
						<p>
							Step One: 
						</p>
						<p id="billing-information">
							Billing Information
						</p>
					</div>
					<hr>
					<form action="" id="billing-form">
						{% csrf_token %}
						<fieldset id="billing-information-fieldset" disabled>
							<div class="form-field">
								<input class="form-control" type="text" name="address" placeholder="Address.." value="{{address.address}}">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="city" placeholder="City.." value="{{address.city}}">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="state" placeholder="State.." value="{{address.state}}">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="zipcode" placeholder="Zip code.." value="{{address.zipcode}}">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="country" placeholder="Country.." value="USA">
							</div>
							<input id="billing-form-button" class="btn btn-success btn-block hidden" type="submit" value="Continue to Shipping">
						</fieldset>
					</form>
				</div>
				<!-- Shipping Information -->
				<div class="box-element">
					<div class='d-flex justify-content-between'>
						<p>
							Step Three: 
						</p>
						<p id="shipping-information">
							Shipping Information
						</p>
					</div>
					<hr>
					<form action="" id="shipping-form">
						{% csrf_token %}
						<fieldset id="shipping-information-fieldset" disabled>
							<div class="form-check">
								<label class="form-check-label">
								  <input type="radio" class="form-check-input" name="flatrate" value="flatrate" checked>USPS Flat Rate Shipping - ${{order.shipping_cost}}
								</label>
							</div>
							<input id="shipping-form-button" class="btn btn-success btn-block hidden" type="submit" value="Continue to Payment">
						</fieldset>
					</form>
				</div>
				<!-- Purchase Options - Paypal Buttons -->
				<div class="box-element">
					<div class='d-flex justify-content-between'>
						<p>
							Step Four: 
						</p>
						<p id="purchase-information">
							Purchase Options
						</p>
					</div>
					<hr>
					<div id="purchase-form">
						<div id="paypal-button-container">
							<!-- Paypal Button Option codes will be inserted here from the Paypal API -->
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-5 px-2 order-2">
				<h3>Order Summary</h3>
				<hr>


				{% for item in items %}
				<div class="row px-2 order-summary-item-list">
					<div class="col-3 px-2">
						<img src="{{item.product.imageURL}}">
					</div>
					<div class="col-3 px-2 text-center">
						<a class="hyper-link " href="{% url 'product' item.product.id %}">
							<p>
								{{item.product.name}}
							</p>
						</a>
					</div>
					<div class="col-3 px-2 text-center">
						<p>
							x{{item.quantity}}
						</p>
					</div>
					<div class="col-2 px-3 text-center">
						<p>
							${{item.product.price|floatformat:2}}
						</p>
					</div>
					<div class="col-2 px-2 text-center" style="display:none">
						<button data-product="{{item.product.id}}" data-action="delete" type="button" class="delete-checkout-button-group delete-item" data-toggle="modal" data-target="#checkout-option-Modal-summary">
							Delete
						</button>
					</div>
				</div>
				{% endfor %}


				<h5 class="order-summary-item order-item-count">
					Total Order Items:  {{order.get_cart_items}}
				</h5>

				<h5 class="order-summary-item order-subtotal">
					Order SubTotal:   ${{order.get_cart_total|floatformat:2}}
				</h5>

				{% if previousOrder == False %}
				<h5 class="order-summary-item order-discount-total">
					Discount (First Time Buyer): $-{{order.get_cart_total|floatformat:2}}
				</h5>
				{% endif %}

				<h5 id="shipping" class="order-summary-item order-shipping-total">
					Shipping (USPS Flat Rate): ${{order.shipping_cost}}
				</h5>

				<h5 id='get_checkout_total' data-checkoutTotal="{{order.get_checkout_total}}" class="order-summary-item order-total">
					Order Total:   ${{order.get_checkout_total|floatformat:2}}
				</h5>	
			</div>


		</div>
	</div>


	<div class="container hidden">
		<div class="row">
			<div class="col-lg-7 px-2 order-1">
				<!-- User Information Form - Checkout Page -->
				<div id="form-wrapper" class="box-element" >
					<form id="form">
						{% csrf_token %}
						<!-- User Information -->
						<div id="user-info">
							<hr>
							<p>User Information:</p>
							<hr>
							<div class="form-field">
								<input required class="form-control" type="text" name="name" placeholder="Name..">
							</div>
							<div class="form-field">
								<input required class="form-control" type="email" name="email" placeholder="Email..">
							</div>
						</div>
						<!-- User Address -->
						<div id="shipping-info">
							<hr>
							<p>Shipping Information:</p>
							<hr>
							<div class="form-field">
								<input class="form-control" type="text" name="address" placeholder="Address..">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="city" placeholder="City..">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="state" placeholder="State..">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="country" placeholder="Country..">
							</div>
						</div>
						<hr>
						<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
					</form>
				</div>
				<br>
				<!-- Payment Display - Checkout Page -->
				<div id="payment-info" class="box-element"  >
					<small>Paypal Options</small>
					<!--<button id="make-payment">Make payment</button>-->
					<!-- <div id="paypal-button-container"> -->
						<!-- Paypal Button Option codes will be inserted here from the Paypal API -->
					<!-- </div> -->
				</div>
			</div>
			<div class="col-lg-5 px-2 order-2">
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="row px-2 order-summary-item-list">
					<div class="col-3 px-2">
						<img src="{{item.product.imageURL}}">
					</div>
					<div class="col-3 px-2 text-center">
						<a class="hyper-link " href="{% url 'product' item.product.id %}">
							<p>
								{{item.product.name}}
							</p>
						</a>
					</div>
					<div class="col-2 px-2 text-center">
						<p>
							x{{item.quantity}}
						</p>
					</div>
					<div class="col-2 px-2 text-center">
						<p>
							${{item.product.price|floatformat:2}}
						</p>
					</div>
					<div class="col-2 px-2 text-center">
						<button data-product="{{item.product.id}}" data-action="delete" type="button" class="delete-checkout-button-group delete-item" data-toggle="modal" data-target="#checkout-option-Modal-summary">
							Delete
						</button>
					</div>
				</div>
				{% endfor %}
				<h5 class="order-summary-item">Total Order Items:  {{order.get_cart_items}}</h5>
				<h5 class="order-summary-item">Order Total:   ${{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</div>


</section>

<!-- Checkout Delete Conformation Modal -->
<div id="checkout-option-Modal-summary" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-name" id="inquiryModalLabel">
					Are you sure you want to delete this item?
				</h5>
				<button class="dismissModal" type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body d-flex justify-content-between">
				<div class="my-4 back-button-group">
					<a href="{% url 'store' %}" >Back to Store</a>
				</div>
				<div class="my-4 back-button-group">
					<a href="{% url 'cart' %}" >Back to Cart</a>
				</div>
				<div class="my-4 back-button-group">
					<a href="javascript:location.reload()" >Stay in Checkout</a>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>


<!-- Scripts to render button and complete transactions	-->

<!-- Paypal Sandbox - SoapDish_Django_PP - buz_life@gmail.com -->
<!-- <script src="https://www.paypal.com/sdk/js?client-id=AaJ_cx_a1aiUQbMag5PqvMTyndlr1RR6qMNKQN4T6pw2OCgRR3WMf2W7yXWQ9_adt1abFIUhFOiBjAhI&currency=USD"></script> -->


<!-- Paypal Sandbox Default Application - sb-x3ywc6935433@business.example.com -->
<!-- <script src="https://www.paypal.com/sdk/js?client-id=AaFzzHsrbKWwcM756lwHf7tPjiB28QuYxYw1NT6pPPiYqqfWmeIkVlT3PBEIgLJFoQXo5QwX77DgQc-j&currency=USD"></script> -->

<!-- Paypal Live - SoapDish_Django_PP - jejlifestyle@shop.theaccidentallifestyle.net -->
<script src="https://www.paypal.com/sdk/js?client-id=Aa4Ac2aUJcAHvPJ367g8nMT2t6mmPBK5dHxDkBhw7SaP2ntBEEr7DkUZrA4tEsj-q3nQc1FK5QhNSbcy&currency=USD"></script>

{% endblock content %}



