{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- Showcase -->
	<section id="showcase-inner" class="py-5 text-white">
		<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
			<h1 class="display-4">Shop Our Collection</h1>
			<p class="lead">Our soap uses all natural ingredients including , Olive Oil, Coconut Oil, Cocoa butter, Shea Butter, and Hemp Seed Oil.</p>
			<p class="lead">Special Requests are Encouraged.  Please consult the Membership page for more details.</p>
			<p><strong>Vegetable Based Soaps:  An Affordable Luxury!</strong></p>
			</div>
		</div>
		</div>
	</section>

  	<!-- Breadcrumb -->
	<section id="bc" class="mt-3">
		<div class="container">
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'index' %}">
					<i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item active">Available Products</li>
			</ol>
			</nav>
		</div>
	</section>

	<!-- Alerts -->
	{% include 'partials/_alerts.html' %}	

	<!-- Products -->
	<section id="listings" class="mt-3">
		<div class="container">
			<!--Product Iteration-->
			<div class="row">
			{% if products %}
				<!-- <div class="row"> -->
					{% for product in products %}
					<div class="col-lg-4 h-100">
						<a style="text-decoration: none;" href="{% url 'product' product.id %}">
							<div class="box-element product text-center">
								<img class="" src="{{product.imageURL}}">
								<h5>
									<strong>{{product.name}}</strong>
								</h5>
								<!-- <p>{{product.bar.description}}</p> -->
								<h6><strong>${{product.price}}</strong></h6>
							</div>
						</a>
						<div class="text-center p-2 mt-2">
							<button class="update-cart update-cart-button" data-product="{{product.id}}" data-action="add" data-qty={{product.stock}} >Add to Cart</button>
						</div>
					</div>
					{% endfor %}
				<!-- </div> -->
			{% else %}
				<div class="col-md-12">
					<p>We are sorry.  There are no Soapdish products available at this time.</p>
				</div>
			{% endif %}
			</div>
		</div>
	</section>

	<!-- 
		Learning how to pass view(python) data to through the DOM to javascript 
		<div id='domData' data-domdata="{{products}}"></div>
	-->
{% endblock content %}
